.Header {
    background-color: #7EC3D0;
    text-align: center;
    margin: auto;
    font-size: 42px;
    padding-top: 10px;
    color: #ffffff;
    line-height: 100%;
}

.Link {
    font-size: 24px;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
}

.ShoppingCart {
    width: 80px;
    height: 80px;
}

@media only screen 
    and (orientation: portrait){
    .Header {
        font-size: 17px;
        padding-top: 2px;
        line-height: 120%;
    }
    .Link {
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .ShoppingCart {
        width: 40px;
        height: 40px;
    }
}
