.LoginButton {
    min-width: 40px;
    height: 40px;
    background-color: #ffcc24;
    color: #2f2f2f;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px; 
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

.LoginInput {
    margin-left: 5px;
    margin-right: 5px;
}

.SmallText {
    font-size: 16px;
}