@font-face {
    font-family: phenomena;
    src: url('./assets/Phenomena-Regular.otf');
}

* {
    font-family: 'phenomena';
    vertical-align: middle;
}

.Main {
    text-align: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-color: #ffcc24;
    padding-top: 20px;
    color: #2f2f2f;
    font-size: 24px;
}

select {
    padding: 0px;
    padding-right: 40px;
    min-width: 200px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    background-image: url('./assets/dropdown-arrow.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    border: none;
    appearance: none;
    text-align: center;
    text-align-last: center;
}

input {
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 170px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border: none;
    background-color: white;
    text-align: center;
}

ol {
    display: table;
    margin: auto;
    margin-bottom: 50px;
}

.WideDropdown {
    width: 500px;
    background-position: right;
    background-size: contain;
}

#InputShifted {
    margin-right: 40px;
}

#InputShiftedLeft {
    margin-left: 40px;
}

.BlueButton {
    min-width: 40px;
    height: 40px;
    background-color: #7EC3D0;
    color: #ffffff;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px; 
    border: none;
}

.BlueButton:active {
    background-color: #497176;
}

.DeleteButton {
    min-width: 30px;
    height: 30px;
    background-size: 100% 100%;
    border-radius: 50%;
    border: none;
    vertical-align: top;
    background-image: url('./assets/delete-button.png');
}

.DeleteButton:active {
    background-image: url('./assets/delete-button-selected.png');
}

.AddButton {
    width: 40px;
    height: 40px;
    border: none;
    background-image: url('./assets/add-button.png');
    background-size: 100% 100%;
}

.AddButton:active {
    background-image: url('./assets/add-button-selected.png');
}

.DarkInfo {
    margin-bottom: 15px;
}

.InfoText {
    margin: 10px;
    font-size: 28px;
    color: #ffffff;
}

.VerticalSpacer {
    height: 20px;
}

.ListEntry {
    vertical-align: middle;
}

.ShoppingList {
    margin-right: 10px;
    width: 20px;
    height: 30px;
}

.SameLine {
    display: inline;
}

@media only screen and (orientation: portrait) {
    select {
        padding-left: 10px;
        min-width: 200px;
        height: 40px;
        font-size: 18px;
        text-align: center;
    }

    input {
        padding-left: 10px;
        padding-right: 10px; 
        min-width: 150px;
        height: 40px;
        font-size: 18px;
        text-align: center;
    }

    #InputShifted {
        margin-left: 0px;
        margin-top: 20px;
    }

    .BlueButton {
        padding-left: 20px;
        padding-right: 20px; 
    }

    #AddButtonShifted {
        margin-top: 20px;
        margin-left: -10px; 
    }
}